
* {box-sizing:border-box}
* {font-family: 'Courier New', Courier, monospace;}
* body{
  background-color: #ffff80;
}
.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffff80;
}
.task-item {
    margin-bottom: 10px;
}
.task-item.completed {
    text-decoration: line-through;
    color: #999;
}
h1,h2,h3,h4,h5,h6{
 text-align: center;
}
